<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-6 offset-3">
            <div class="card mt-4">
                <div class="card-header bg-danger text-light">
                    <h4>¿Estás de acuerdo en borrar el libro {{book.title}}?</h4>
                </div>
                <div class="card-body">
                    <form action="/deleteBook" method="post">
                        <input type="hidden" name="id" value="{{book.id}}" />
                        <a href="/books" class="btn btn-secondary m-1 float-end">Cancelar</a>
                        <button type="submit" class="btn btn-danger m-1 float-end">Aceptar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>